{% extends 'basepage.html' %}

{% block title%}Meeting Scheduler{% endblock %}

{% block content %}
    <div class="header col-12 mx-auto text-center align-items-center">
        <h1 class="col-12 mx-auto">Meeting Scheduler</h1>
        <div class="row mx-auto">
            <div id="nav" class="col-12 mx-auto">
                <a href="{% url 'home' %}" class="navigation p-2">Home</a>
                <a href="{% url 'meetings' %}" class="navigation p-2">Meetings</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mx-auto mt-5 mx-auto align-items-center">
        <p>
            Welcome to my meeting scheduler. I am currently learning Django and decided to take this on as a project
        </p>
        <p>
            Future development for this feature should include:
            <ul>
                <li>Ability to see meetings</li>
                <li>Ability to see meeting details</li>
                <li>Create a new meeting</li>
                <li>Aim to add more as time goes on</li>
            </ul>
        <p>
            {% if all_meetings <= 0 %}
                There are currently no meetings. Get booking!
            {% elif all_meetings == 1 %}
                There is currently {{all_meetings}} meeting booked
            {% else %}
                There are currently {{all_meetings}} meetings stored
            {% endif %}
        </p>
    </div>
{% endblock %}