{% extends 'basepage.html' %}
{% block title %}Meetings{% endblock %}

{% block content %}
    <div class="header col-12 mx-auto text-center align-items-center">
        <h1 class="col-12 mx-auto">Meetings</h1>
        <div class="row mx-auto">
            <div id="nav" class="col-12 mx-auto">
                <a href="{% url 'home' %}" class="navigation p-2">Home</a>
                <a href="{% url 'meetings' %}" class="navigation p-2">Meetings</a>
                <a href="{% url 'rooms' %}" class="navigation p-2">Rooms</a>
            </div>
        </div>
    </div>
    <div id="meetings" class="col-10 col-lg-2 mx-auto mt-5 mx-auto align-items-center">
        {% if meeting_count > 0 %}
            {% for meeting in meetings %}
            <div class="card text-bg-primary mb-3">
              <div class="card-header">
                  <a href="{% url 'meeting_details' meeting.id %}" id="meeting-details">{{meeting.meeting_title}}</a>
                  <a href="{% url 'delete_meeting' meeting.id %}"><i class="fa-solid fa-x delete-meeting"></i></a>
              </div>
              <div class="card-body">
                  <p class="card-text">booked for {{meeting.date}} at {{meeting.start_time}} in room:
                      <strong>{{meeting.room.room_name}} (Room {{meeting.room.room_number}})</strong>
                    <a href="{% url 'update_meeting' meeting.id %}" class="update-meeting">Want to make changes to the meeting?</a>
                  </p>
              </div>
            {% endfor %}
        {% else %}
                No meetings booked, <a href="{% url 'create_meeting' %}"><strong>get booking!</strong></a>
        {% endif %}
      </div>
    </div>
    <!-- For some reason depending on the number of meetings, the meeting text seems to be placed either centre or
    to the left, if statement put in place to resolve that for now, until I can work out a proper fix -->
    {% if meeting_count > 1 %}
        <div class="col-10 col-lg-12 mx-auto mt-5 mx-auto align-items-center create-meeting">
        <p>Want to create a meeting? <a href="{% url 'create_meeting' %}"><strong>Book it in here</strong></a></p>
    </div>
    {% else %}
        <div class="col-10 col-lg-2 mx-auto mt-5 mx-auto align-items-center create-meeting">
            <p>Want to create a meeting? <a href="{% url 'create_meeting' %}"><strong>Book it in here</strong></a></p>
        </div>
    {% endif %}
{% endblock %}