{% extends 'basepage.html' %}
{% block title %}Meetings{% endblock %}

{% block content %}
    <div class="header col-12 mx-auto text-center align-items-center">
        <h1 class="col-12 mx-auto">Meetings</h1>
        <div class="row mx-auto">
            <div id="nav" class="col-12 mx-auto">
                <a href="{% url 'home' %}" class="navigation p-2">Home</a>
                <a href="{% url 'meetings' %}" class="navigation p-2">Meetings</a>
            </div>
        </div>
    </div>
    <div id="meetings" class="col-10 col-lg-2 mx-auto mt-5 mx-auto align-items-center">
      <div class="card text-bg-primary mb-3">
          <div class="card-header">
              Placeholder text 1 header
          </div>
          <div class="card-body">
              <p class="card-text">Placeholder text 1</p>
          </div>
      </div>
      <div class="col-5 card text-bg-primary mb-3">
          <div class="card-header">
              Placeholder text 2 header
          </div>
          <div class="card-body">
              <p class="card-text">Placeholder text 2</p>
          </div>
      </div>
    </div>
{% endblock %}