{% extends 'basepage.html' %}
{% block title %}Rooms{% endblock %}

{% block content %}
    <div class="header col-12 mx-auto text-center align-items-center">
        <h1 class="col-12 mx-auto">Meetings</h1>
        <div class="row mx-auto">
            <div id="nav" class="col-12 mx-auto">
                <a href="{% url 'home' %}" class="navigation p-2">Home</a>
                <a href="{% url 'meetings' %}" class="navigation p-2">Meetings</a>
                <a href="{% url 'rooms' %}" class="navigation p-2">Rooms</a>
            </div>
        </div>
    </div>
    <div id="rooms" class="col-10 col-lg-2 mx-auto mt-5 mx-auto align-items-center">
        {% for room in rooms %}
            <div class="card text-bg-primary mb-3">
              <div class="card-header">
                  Room name: {{room.room_name}}
              </div>
              <div class="card-body">
                  <p class="card-text">Which is room number: {{room.room_number}} on floor {{room.floor_number}}</p>
                  <p>Want to update the room details? You can do so here<br/>
                  <a href="#">Update</a></p>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}