{% extends 'basepage.html' %}
{% block title %}Meetings{% endblock %}

{% block content %}
    <div class="header col-12 mx-auto text-center align-items-center">
        <h1 class="col-12 mx-auto">Meetings</h1>
        <div class="row mx-auto">
            <div id="nav" class="col-12 mx-auto">
                <a href="{% url 'home' %}" class="navigation p-2">Home</a>
                <a href="{% url 'meetings' %}" class="navigation p-2">Meetings</a>
                <a href="{% url 'rooms' %}" class="navigation p-2">Rooms</a>
            </div>
        </div>
    </div>
    <div class="col-10 col-lg-2 mx-auto mt-5 mx-auto align-items-center">
        <table class="col-12">
            <tr>
                <th>Meeting name:</th>
                <th>Meeting start time:</th>
                <th>Meeting date:</th>
                <th>Meeting Duration:</th>
            </tr>
            <tr>
                <td>{{meeting.meeting_title}}</td>
                <td>{{meeting.start_time}}</td>
                <td>{{meeting.date}}</td>
                <td>{{meeting.meeting_duration}} hour</td>
            </tr>
        </table>
    </div>
{% endblock %}