h1 {
    margin: auto;
    /*background-color: rgba(0,0,0,0.8);*/
    color: white;
}

#nav {
    margin: 1% 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: rgb(0,0,0);
    color: white;
}

.card {
    width: 300px;
    display: inline-block;
}

.homepage-body {
    padding: 0% 2%;
}

.update-meeting {
    text-decoration: underline;
}

.create-meeting a{
    color: black;
    text-decoration: underline;
}

.delete-meeting {
    display: block;
    float: right;
    padding-top: 5px;
}

#meeting-details {
    text-decoration: underline;
    font-weight: bold;
}