h1 {
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

#nav {
    background-color: rgba(0,0,0,0.8);
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.card {
    width: 300px;
    display: inline-block;
}

.homepage-body {
    padding: 0% 2%;
}
